<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <!--<add  key ="URL" value="https://app.meetings.stratsys.com"/>-->
    <add  key="Username" value ="selenium347654@mailinator.com"/>
    <add key="Password" value="Stratsys1"/>
    <!--<add key="meetingName" value="Scrum meeting"/>
    <add key="meetingDescription" value="This meeting is to get an update on the progress of the current project"/>
    <add key ="meetingLocation" value="Conference room 2"/>
    <add key="agendaTitle" value="Developer Updates"/>
    <add key="agendaDescription" value="Progress made since last deadline"/>
    <add key ="note" value="Notes on progress"/>
    <add key ="action" value ="Analysis chart module"/>
    <add key="actionUser" value="ramapriya.chakrapani@gmail.com"/>-->
    
  </appSettings>
</configuration>